body
{
    font-family: Arial, sans-serif;
    background-color: #c4fff9;
}

#bloc_page
{
    width: 1200px;
    margin: auto;
}

header
{
    background-color:#90e0ef;
	display : flex;
	flex-direction : row;
	align-items:center;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
	display : inline-block;
}

nav
{
    width: 740px;
    text-align: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #000000;
    padding-bottom: 3px;
    text-decoration: none;
	font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

nav a:hover
{
    color: #0077b6;
    border-bottom: 3px solid ;
}

#presentation {
	padding:10px;
	background-color:#80ded9;
	border-radius: 8px;
	text-align: justify;
}

#presentation h3 {
	text-decoration:underline;
}

#portrait img {
	width: 200px;
	height: auto;
	border-radius: 10px;
}

#portrait{
	text-align: center;
}

#informations{
	display:flex;
	justify-content: space-between;
}

footer
{
    background-color:#90e0ef;
    padding-top: 5px;
	margin-top: 20px;
	text-align: center;
}

footer a {
	margin: 10px;
}

footer img {
	width: auto;
	height: 30px;
	vertical-align: middle;
}

#contact {
	height:500px;
	background-color:#80ded9;
	border-radius: 8px;
	text-align: center;
}


.mail input {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 80%;
	padding: 10px;
	border: 1px solid ;
	border-radius: 5px;
	font-size: 1em;
}

.mail textarea {
	height: 150px;
	resize: none;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 80%;
	padding: 10px;
	border: 1px solid ;
	border-radius: 5px;
	font-size: 1em;
}

button[type="submit"] {
	background-color: #007BFF;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1.1em;
	cursor: pointer;
	width: 500px;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #0056b3;
}
